<h4>Credit Card Categories</h4>
  <ul class="list-unstyled">
    <li>Balance Transfer</li>
    <li>Cash Back</li>
    <li>Travel Rewards</li>
    <li>Gas Credit Cards</li>
    <li>Low Interest</li>
    <li>Student Cards</li>
  </ul>

<h4>Credit Card Deals</h4>

  <div class="sidebar_card_block">
    <div class="pad20 realWidth">
      <%= render "layouts/sidebar_card_display" %>
      <%= render "layouts/sidebar_card_display" %>
    </div>
  </div>
