<% provide(:title, "About") %>
<h1>About</h1>
<p>allCards.com credit card comparison site designed to empower consumers to make the most of credit cards.
  The site maintains one of the largest databases of credit cards available today. It also incorporates
  comparison tools designed to help consumers select the best reward cards given their spending patterns.
</p>
